body{
    background-color: rgb(48, 48, 56);
    overflow-x: hidden;
}

.row{
    justify-content: center;
    display: flex;
    text-align: center;
    margin-top: 5rem;
}
.container-carousel{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

#carousel{
    width: 100%;
    max-height: auto;
}

#carousel img{
    max-height: 54rem;
    width: 100%;
}

h2{
    color: white;
    border-bottom: 3px solid rgb(101, 88, 148);
    margin-bottom: 16px;
    font-style: italic;
    padding-bottom: 5px;
    padding: 1rem;
}

.produtos-comprar{
    padding: 1rem;

}

@media screen and (max-width: 640px) {
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .produtos-comprar{
        width: 40rem;
        padding: 3rem;
        box-shadow: rgba(39, 39, 39, 0.5) 0px 10px 18px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .row{
        display: flex;
        align-items: center;
    }
}